@inherits CanvasManagerBase

<div class="blazorex-canvases">
    <CascadingValue Value=@this>
    @foreach (var (name, options) in _names)
    {
        <div id="@(name)Container" class="blazorex-canvas-container" hidden="@options.Hidden">
            <Canvas @ref="_canvases[name]"
                    OnCanvasReady="@options.OnCanvasReady"
                    OnFrameReady="@options.OnFrameReady"
                    OnMouseMove="@options.OnMouseMove"
                    OnKeyDown="@options.OnKeyDown"
                    OnKeyUp="@options.OnKeyUp"
                    Width="@options.Width"
                    Height="@options.Height"
                    Name="@name"/>
        </div>
    }
    </CascadingValue>
</div> 